body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
}
*{
  overflow-x: hidden;
  /* scrollbar-width: ; */
}
.n{
  position: relative;
  margin: 4em;
  
}
.m-c{
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nul{
  
    width: 50%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
}
.phon{
  display: none;
}
.m-c ul li{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}
.logo {
  
  margin: 0;
  display: flex;
  position: absolute;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.h-l-c{
  position: relative;
}
.winlogo{
  position: absolute;
  
  top: 40%;
  left: 50%;
}
.connect-btn{
  padding: 1em 4em;
  font-weight: bold;
  font-size: 12px;
  background: #A02279;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}
.menu{
  display: none;
}
 section{
  /* padding: 6em 0; */
  display: flex;
  align-items: center;
} 
section .t-s{
  width: 50%;
}
section .t-s h1{
  font-size: 48px;
  line-height: 1.5em;
}
section .t-s p{
  font-size: 18px;
  line-height: 1.5em;
}
section .t-s span{
  color: #c91690;

}
section .search-container{
  display: flex;
}
section .search-container input{
  margin-top: 3em;
  border-radius: 5px 0 0 5px;
  padding:0 1.5em;
  width:60%;
  font-size: 14px;
  height: 60px;
}
section .search-container button{
  margin-top: 3.5em;
  height: 60px;
  padding:0 4em;
  border-radius: 0 5px 5px 0;
  background:#A02279;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
section .search-container button,section .search-container input{
  border: 1px solid grey;
  outline: none;
}
.img-section{
  position: relative;
  width: 50%;
  height: 40em;
  /* background-color: #843FE8; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.frst{
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.snd{
  position: absolute;
  top: 10%;
  right: 10%;
}
.img-ss{
  display: flex;
  flex-direction: column;
}
.img-section  img{
  width: 200px;
 margin-bottom: 10px;
}.in{
  display: none;
}
.row-tab{
  background-color: #A02279;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row-tab h3{
  color: #fff;
  font-size: 22px;
}
.row-tab .r-t{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-tab .r-t img{
  width: 2em;
  height: 2em;
}
.prod-sec{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}
.prod-sec h1{
  font-size: 24px;
}
.prod-sec .prod{
  width: 90%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  place-items: center;
}
.prod-sec .prod img{
  width: 20em;
}
.mtb-nft{
  /* height: 20em; */
  margin:4em 0 0 0 ;
  background-color: #A02279;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.f-s{
width: 40%;
  color: white;
  padding: 0 0 0 8em;
}
.f-s h2{
  font-size: 28px;
  margin: 0 0 1em 0;
}
.f-s p{
  font-size: 16px;
  line-height: 1.5em;
}
.f-s button{
  margin: 1em 0;
  outline: none;
  border: none;
  color: #A02279;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: bold;
}
.s-s{
  padding: 4em;
}
.s-s img{
  width: 34em;
}

footer{
  background: #000;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}
.f-c{
  color: #fff;
}
.f-c .f-l{
margin: 0 0 8em 0;
}
.f-c .f-icons{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin:  0 0 3em 0;
}
.s-c{
  color: white;
}

.s-c ul{
  line-height: 3em;
  padding: 0;
}
.s-c ul li a{
  text-decoration: none;
  color: #fff;
}
@media(max-width:1290px){
  section{
    flex-direction: column;
  }
  .img-section{
    width: 80%;
  }
  section .t-s{
    width:100%;
  }
}
@media(max-width:870px){

 .out{
  display: none;
 }
 .menu{
  display: block;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 12px;
  background: #A02279;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 80%;
  /* margin-bottom: 5px; */
  cursor: pointer;
 }
 .phon{
  display: block;
 }

 #b4{
  border-radius:  5px;

  width: 50%;
  height: 60vh;
  top: 2%;
  margin-top: 2em;
  right: 0;
  background-color: #ae6ba9;
  transform: translateX(100%);
  margin-right:-15em ;
  line-height: 10vh;
  position: absolute;
  flex-direction: column;
  transition: all 2s ease;
}
#aft{
  /* z-index: 6; */
  border-radius:  5px;
  width: 50%;
  height: 60vh;
  top: 2%;
  margin-top: 2em;
  right: 0;
  background-color: #ae6ba9;
  transform: translateX(0%);
  /* margin-right:-1em ; */
  transition: all 2s ease;
  line-height: 10vh;
  position: absolute;
  flex-direction: column;
} 
.in{
  cursor: pointer;
  display: block;
  margin-left: 0%!important;
  padding: 1em;
}

.connect-btn{
  margin-left:50% ;
}
}
@media(max-width:390px){
  .t-s h1{
    font-size: 32px!important;
  }
  .logo{
    
    font-size: 24px;
    
  }
  .logo img{
    width: 30px;
  }
  .logo .winlogo{
    display: none;
  }
  .menu{
    margin-left: 60%;
  }
  .img-section{
    flex-direction: column;
    height: 60em;
    justify-content: center;
    align-items: center;
  }
  .frst,.snd{
    position: relative;
    top: 0;
    left: 0;
  }
  .n{
    position: relative;
    margin: 2em;
  }
  .row-tab .r-t h3{
    font-size: 16px;
  }
  .row-tab .r-t img{
    width: 1.5em;
    height: 1.5em;
  }
  .prod-sec h1{
    font-size: 18px;
  }
  .prod-sec .prod img{
    width: 14em;
  }
  .nul li{
    color: #fff!important;
  }
  .mtb-nft{
    flex-direction: column;
  }
  .f-s{
    width: 100%;
    /* background: #000; */
  }
  .f-s h2{
    margin: 1em 0 0 0;
  }
  .f-s p{
    font-size: 12px;
  }
  .s-s{
    width: 100%;
    height: 32em;
    text-align: center;
  }
  .s-s img{
    width: 18em;
  }
  footer{
    flex-direction: column;
  }
}